// colors 
$white: 		#fff;
$black: 		$gray-base;

// screen breakpoints
$phone:  			$screen-phone; // 480px
$tablet: 			$screen-tablet; // 768px
$desktop: 			$screen-desktop; // 992px
$desktop-large: 	$screen-lg-desktop; // 1200px





